body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size : 13px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.file {
    visibility: hidden;
    position: absolute;
}

.btn-upload {
    width: 150px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
}
